@charset "UTF-8";
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background:#f2f3b6;
}
div{
	margin:auto;
	text-align:center;
	width:800px;
	height:600px;
	background-image: url("../images/message/message1.jpg");
}
table,tr,td{
	border:0px solid #000000;
}
table{
	margin:auto;
	border-collapse:collapse;
	width:50%;
}
tr
{
    height:40px;
}
td{
	text-align:center;
	height:0px;
    vertical-align:bottom;
    padding:0px;
}