@charset "UTF-8";
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background:#f2f3b6;
  background-image: url("../images/message/message2.jpg");
}

.mid{
	margin:auto;
	text-align:center;
	width:800px;
	height:600px;

}

table,tr,td{
	border:0px solid #000000;
	
}
table{
	margin:auto;
	border-collapse:collapse;
	width:80%;
}
tr
{
    height:40px;
    text-align:center;
}
td{
	text-align:center;
	height:0px;
    vertical-align:bottom;
    padding:0px;
}

.request{
    width:180px;
	height:30px;
	float:left;
}
.box1{
	float:left;
}
.time{
	float:left;
	width:100px;
}
.num{
	width:40px;
	float:left;
}
